table#blockly-window {
  width:100%;
  height:512px;
}

table#blockly-window td {
  height:100%;
}

td#canvas {
  width:70%;
}

/* Refers to the div within `td#canvas`, only exists to satisfy Blockly. All
   styling should go under `td#canvas` when possible. */
div#editor {
  height:100%;
  width:100%;
}

td#preview {
  vertical-align:top;

  background-color:#DDD;
  opacity:75%;
}

td#preview pre {
  margin:0px;
  padding:8px;
}
