table#blockly-window {
  /* border:1px solid red; */

  width:100%;
  height:512px;
}

table#blockly-window td {
  /* border:1px solid blue; */

  height:100%;
}

td#canvas {
  width:70%;
}

/* Refers to the div within `td#canvas`, only exists to satisfy Blockly. All
   styling should go under `td#canvas` when possible. */
div#editor {
  height:100%;
  width:100%;
}

td#preview {
  vertical-align:top;

  padding:0px 8px;
}

td#preview pre {
  /* border:1px solid lime; */
}
