table#blockly-window {
  max-width:2048px;
  width:80vw;
  min-width:512px;

  max-height:1024px;
  height:70vh;
  min-height:512px;
}

table#blockly-window th {
  text-align:left;
  font-size:16pt;
  padding:0px 4px;
}

table#blockly-window td {
  height:100%;
}

button#copy-code-button {
  border:1px solid var(--fg-1);
  border-radius:8px;

  background-color:var(--bg-2);
  color:var(--fg-1);

  float:right;

  padding:2px 8px;
}

button#copy-code-button:hover  { background-color:var(--bg-1); }
button#copy-code-button:active {
  background-color:var(--secondary);
  color:var(--bg-2);
}

td#canvas {
  width:70%;
}

/* Only exists to satisfy Blockly. All styling should go under `td#canvas`
 * when possible. */
td#canvas div#editor {
  height:100%;
  width:100%;
}

td#preview {
  vertical-align:top;
}

td#preview pre {
  margin:0px;
  padding:8px;

  font-size:10pt;

  max-height:1024px;
  height:70vh;
  min-height:512px;

  overflow:scroll;
}
