body {
  padding:0;
  margin:0;
}

div#buffer {
  border:2px solid #333;
  border-radius:8px;

  margin:64px auto;
  padding:16px;

  max-width:1024px;
  width:80%;
  min-width:512px;
}

div#buffer h1 {
  padding:0;
  margin:0;

  text-align:center;
}

div#buffer p {
  padding:0px 256px;

  text-indent:32px;
}
