.code-editor-container {
  position: relative;
  width: 80vw;
  /* Align with the block editor's width */
  max-width: 2048px;
  /* Maximum width similar to block editor */
  min-width: 512px;
  /* Minimum width similar to block editor */
  min-height: 81vh;
  /* Minimum height for initial size */
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  overflow: visible;
  /* Allow it to expand and the page to scroll */
  margin: 0 auto;
  /* Center the editor horizontally */
  margin-bottom: 100;

}

.highlight-keyword {
  color: red;
  /* Highlight the keywords in red */
  font-weight: bold;
}

.code-input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  color: black;
  caret-color: black;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  position: relative;
  z-index: 1;
}