ul#nav {
  position:fixed;
  top:0;
  z-index:1000;

  width:100%;

  list-style-type:none;

  background-color:var(--fg-1);
  color:var(--bg-1);

  padding:16px 16px;
  margin:0px;
}

ul#nav li {
  text-align:center;
  display:inline;

  border-right:1px solid var(--bg-1);
  padding:0px 4px 0px 8px;
}

ul#nav li:first-child,
ul#nav li:last-child   { border-right:none; }

ul#nav button {
  margin-left:4px;
}

ul#nav img {
  height:16px;
}

ul#nav a {
  text-decoration:none;

  color:var(--bg-1);

  padding:4px;
}

ul#nav a:hover { color:var(--secondary); }

ul#nav button#darkmode-button {
  border:1px solid var(--bg-1);
  border-radius:8px;

  background-color:transparent;
  color:var(--bg-1);

  padding:2px 8px;
}

ul#nav button#darkmode-button:hover  { background-color:var(--fg-2); }
ul#nav button#darkmode-button:active {
  background-color:var(--secondary);
  color:var(--fg-1);
}
